:root {
  --background-primary:  #FCFCFC; /* background color */
  --text-primary:        #171717; /* highlighting, important, heading, links, special stuff */
  --text-secondary:      #3D3D3D; /* default text */
  --text-tertiary:       #5C5C5C; /* one element that differs from the rest - e.g. one link item in a menu */
  --accent-yellow:       #F6AE2D;
  --accent-orange:       #F26419; /* RSS icon only for now */
  --accent-green:        #5FAD56;
  --accent-blue:         #33658A;
  --accent-purple:       #3B2431;
  --font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--text-secondary);
  background-color: var(--background-primary);
  overflow-y: scroll;
  overflow-wrap: break-word;
  min-height: 100vh;
  max-width: 48rem;
  line-height: 1.6;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

img {
  width: 100%;
}

pre, code {
  overflow-x: scroll;
}

h1, h2, h3, h4, h5, h6, a, a:visited {color: var(--text-primary);}
a:hover, a:active, .menu a:hover, .menu a:focus {
  color: var(--text-tertiary);
}

/* This is needed to allow the footer to stay at the bottom of the page,
   even if the content isn't tall enough to the fill the whole screen */
main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  float: right;
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
}

footer li {
  display: inline; /* places menu items side by side */
  float: right; /* right-aligns the menu items */
}

footer a {
  color: var(--text-primary);
  padding: 10px;
}

.post-date {
  float: right;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #FCFCFC;
    --text-secondary: #E5E5E5;
    --text-tertiary: #D0D0D0;
    --background-primary: #171717;
  }
}
